---
// import { Image } from "astro:assets";
// import Envalope from "../../images/Mail-Send-Envelope--Streamline-Flex.png";
---

<section class="wrapper relative">
    <div class="container_background"></div>
    <div
        class="container_content u-container flex flex-col md:flex-row gap-[var(--space-m)]"
    >
        <!-- Left Column -->
        <div class="w-full md:w-1/4 p-[var(--space-s)]"></div>
        <!-- Middle Column -->
        <div class="w-full md:w-1/2 p-[var(--space-s)]">
            <p class="fs-4 font-bold text-center leading-none text-pretty">
                Got a cool idea that needs a developer’s touch? Let’s team up
                and make something awesome. <span class="underline"
                    >Shoot me a message</span
                >—I’d love to hear from you!
            </p>
        </div>
        <!-- Right Column -->
        <div class="w-full md:w-1/4 p-[var(--space-s)]"></div>
    </div>
</section>
