---

---

<section class="wrapper relative">
    <div class="container_background"></div>
    <div
        class="container_content u-container flex flex-col md:flex-row gap-[var(--space-m)]"
    >
        <!-- Left Column -->
        <div class="w-full md:w-1/4 p-[var(--space-s)]">
        </div>
        <!-- Middle Column -->
        <div class="w-full md:w-1/2 p-[var(--space-s)]">
            <p class="fs-5 font-bold text-center leading-none text-pretty">
                Hi, I’m Chilu, and I Build Cool Things with Code
            </p>
        </div>
        <!-- Right Column -->
        <div class="w-full md:w-1/4 p-[var(--space-s)]">
        </div>
    </div>
</section>
