@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;700&family=Open+Sans:wght@400;700&family=Poppins:wght@400;800&family=Quicksand:wght@400;700&family=Roboto:wght@400;700&display=swap');

body{
    line-height: 27px;
    background-color: #1e1e1e;
    color: white;
    font-family: system-ui,'Open Sans', sans-serif;
    line-height: 1.7;
}

h1{
    font-size: 1.5rem;
    font-weight: bold;
}

.bg--blur{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur( 10px );
}

.tag-list span:last-child{
    display: none;
}

section{
    padding: 5vh 0;
}

.btn{
    @apply flex justify-center items-center h-7 px-3 rounded-md outline-none duration-150 transition-all;
}

.btn:hover{
    @apply opacity-80 scale-105 duration-150 transition-all;
}