/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* @link https://utopia.fyi/type/calculator?c=320,16,1.333,1240,16,1.333,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
/* @link https://utopia.fyi/type/calculator?c=320,16,1.25,1120,16,1.333,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

@theme {
	--color-off-white: #f5f5f3;
	--color-soft-beige: #eae7dc;
	--color-charcoal-grey: #333333;
	--color-muted-black: #2D2D2A;
	--color-soft-blue: #A3C4BC;
	--color-muted-terracotta: #C5A880;
	--color-light-cream: #F7F3EB;
	--color-dusty-pink: #E8C3B9;

	--text--2: clamp(0.5628rem, 0.6709rem + -0.1544vw, 0.64rem);
	--text--1: clamp(0.7502rem, 0.8199rem + -0.0996vw, 0.8rem);
	--text-0: clamp(1rem, 1rem + 0vw, 1rem);
	--text-1: clamp(1.25rem, 1.2168rem + 0.166vw, 1.333rem);
	--text-2: clamp(1.5625rem, 1.4767rem + 0.4288vw, 1.7769rem);
	--text-3: clamp(1.9531rem, 1.7869rem + 0.8309vw, 2.3686rem);
	--text-4: clamp(2.4414rem, 2.155rem + 1.4319vw, 3.1573rem);
	--text-5: clamp(3.0518rem, 2.589rem + 2.3139vw, 4.2087rem);
	--text-6: clamp(3.8147rem, 3.0965rem + 3.5911vw, 5.6102rem);
	--text-7: clamp(4.7684rem, 3.6843rem + 5.4201vw, 7.4784rem);
}

body {
	font-family: 'Urbanist', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 16px;
	line-height: 1.3em;
}

/* TYPOGRAPHY */

.text-xs {
	font-size: var(--fs--2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: rgb(var(--muted-black));
	line-height: 1;
	text-wrap: balance;
}

strong,
b {
	font-weight: 700;
}

p {
	max-width: 65ch;
	text-wrap: pretty;
	line-height: 1.3em;
}

.prose p {
	margin-bottom: 2em;
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre>code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

/* LAYOUT */

@media (max-width: 720px) {
	body {
		font-size: 16px;
	}
}

.u-container {
	@apply w-full max-w-[1140px] mx-auto px-[5%] sm:px-[8%];
}

.img-box {
	@apply relative overflow-hidden;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* COMPONENTS */
.separator {
	@apply w-full block h-[1px] bg-soft-blue;
}

.boxed {
	@apply border-b-[1px] border-soft-blue py-2;
}

.badge {
	@apply inline-flex items-center rounded-md border px-2.5 py-0.5 text-sm font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-muted-black focus:ring-offset-2;
}

.btn {
	@apply py-[12px] px-[16px] inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-xl text-0 font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-muted-black disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 cursor-pointer;

}

@keyframes smooth-bounce {

	0%,
	100% {
		transform: translateY(0%);
		transform: rotate(0deg);
	}

	25% {
		transform: translateY(-10px);
	}

	30% {
		transform: translateY(-10px);
		transform: rotate(-5deg);
	}

	35% {
		transform: translateY(-10px);
		transform: rotate(5deg);
	}

	40% {
		transform: translateY(-10px);
		transform: rotate(-5deg);
	}

	45% {
		transform: translateY(-10px);
		transform: rotate(-5deg);
	}

	50% {
		transform: translateY(-10px);
		transform: rotate(0deg);
	}
}

.bounce-animation {
	display: inline-block;
	animation: smooth-bounce 1.2s ease-in-out infinite;
	animation-delay: 10s;
	animation-iteration-count: 1;
}

.bounce-animation:hover {
	animation-play-state: paused;
}