---
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/landing/Masthead.astro";
import AboutIntro from "../components/landing/AboutIntro.astro";
import Projects from "../components/landing/Projects.astro";
import BlogIntro from "../components/landing/BlogIntro.astro";
import Contact from "../components/landing/Contact.astro";
---

<Layout title="Chilufya Mutale">
	<section class="wrapper new-section">
		<div class="container_background"></div>
		<div class="container_content u-container py-[var(--space-l)]">
			<div class="textbox">
				<Masthead />
				<AboutIntro />
				<Projects />
				<BlogIntro />
				<Contact />
			</div>
		</div>
	</section>
</Layout>
