---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-off-white">
		<main class="min-h-screen w-full">
			<div class="section py-16">
				<div class="u-container max-w-[1120px] mx-auto">
					<div class="stack space-y-5">
						<div
							class="img-box size-24 rounded-full border-2 border-soft-blue shadow-2xl bounce-animation"
						>
							<img
								src="/portrait.jpeg"
								alt=""
								srcset=""
								class="absolute top-0 left-0 w-full h-full object-cover"
							/>
						</div>
						<div class="flex gap-2 flex-wrap">
							<div class="badge bg-soft-blue text-off-white"
								>Full Stack Developer</div
							>
							<div class="badge bg-dusty-pink text-off-white"
								>Working in React and ASP.NET</div
							>
							<div
								class="badge bg-muted-terracotta text-off-white"
								>Building PWA's, iOS and Android apps</div
							>
						</div>

						<h1 class="text-7 font-semibold block">
							Chilufya Mutale
						</h1>

						<p class="block text-1 !max-w-[50ch]">
							Exploring R&D processes and building innovative, highly technical software solutions that solve real-world problems.
						</p>

						<div class="button-row flex gap-3">
							<a
								href="http://www.linkedin.com/in/chilufya-mutale"
								target="_blank"
								class="block"
							>
								<button
									class="btn bg-muted-black hover:bg-muted-black/90 text-off-white"
								>
									See my Experience
								</button>
							</a>
							<!-- <div class="font-bold inline">or,</div> -->
							<a href="http://www.github.com/cmmutale" class="block">
								<button
									class="btn bg-soft-beige hover:bg-soft-beige/90 border-[1px] border-muted-black text-muted-black"
								>
									or, See my Work
								</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</body>
</html>
