---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="stack space-y-3">
				<span style="font-size: var(--fs-0);"
					>Full Stack Developer delivering user-focused, high-performance
					solutions</span
				>
				<picture>
					<source
						media="(min-width:465px)"
						srcset="/name-logo.png"
					/>
					<img
						src="/name-logo-mobile.png"
						alt="Flowers"
						style="width:auto;"
					/>
				</picture>
				<p class="">
					I'm Chilufya Mutale, a Full Stack Developer with 2 years of
					experience building engaging, accessible, and visually stunning
					web applications. I’m driven to deliver innovative,
					user-friendly solutions that create real value.
				</p>
			</div>
		</main>
		<Footer />
	</body>
</html>
