---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="wrapper">
			<div class="inner">
				<div class="wrapper">
					<div class="inner">
						<p>Please stand by.</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		min-height: 100vh;
		min-height: 100dvh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
</style>
