---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<span style="font-size: var(--fs-0);"
				>Full Stack Developer delivering user-focused, high-performance
				solutions</span
			>
			<img src="/name-logo-mobile.png" alt="" srcset="" style="margin-top: 20px;"/>
			<!-- <h1 style="font-size: var(--fs-7); margin-top: 20px;">Chilufya Mutale.</h1> -->
			<p>
				I'm Chilufya Mutale, a Full Stack Developer with 2 years of
				experience building engaging, accessible, and visually stunning
				web applications. I’m driven to deliver innovative,
				user-friendly solutions that create real value.
			</p>
		</main>
		<Footer />
	</body>
</html>
