---
const today = new Date();
---

<footer class="flex flex-col items-center bg-soft-beige">
	<!-- &copy; {today.getFullYear()} Chilufya Mutale. All rights reserved. -->
	<div class="wrapper w-full max-w-6xl mx-auto py-[80px] px-[2.5%] space-y-5">
		<p>
			built with <a
				href="https://astro.build/"
				class="underline"
				target="_blank">astro</a
			>
		</p>
		<p>
			blog written with <a
				href="https://mdxjs.com/"
				class="underline"
				target="_blank">mdx</a
			>
		</p>
	</div>
	<!-- <div class="w-full relative h-[200px]">
			<img src="/footer-img.png" alt="" class="w-full absolute top-0 left-0 h-full">
		</div> -->
</footer>
